<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title != "Home" %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="icon" href="/favicon.ico">

  <link rel="stylesheet" href="/assets/css/app.css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link type="text/plain" rel="author" href="/humans.txt" />
</head>
